
<div id="form">
    <h3>LISTA PRODUTOS</h3>

    <form id="formulario">
        <label for="descricao">Descrição Produto</label>
        <input type="text" name="descricao" id="descricao" [(ngModel)] ="descricao_produto" >

        <label for="valor">Valor</label>
        <input type="number" name="valor" id="valor" [(ngModel)] ="valor_unitario" >

        <div id="btns">
            <button type="button" id="btnAdd" (click)="addItem()" >Adicionar</button>
            <button type="button" id="btnLimpar">Limpar tudo</button>
        </div>

    </form>

    <div id="div-lista">

        @for(elem of listaItens; track elem.idProduto)

        {
            <div class="div-item">
                <input type= "checkbox" [checked]="elem.statusSelecionado"> {{elem.idProduto}} - {{elem.descricaoProduto}} - {{elem.valorUnitario}} </div>
        }@empty{
            <div class="div-item"> Nenhum produto na lista</div>
        }

    </div>

</div>