
<div id="form">
    <h3>LISTA PRODUTOS</h3>

    <form id="formulario">
        <label for="descricao">Descrição Produto</label>
        <input type="text" name="descricao" id="descricao" [(ngModel)] ="descricao_produto" >

        <label for="valor">Valor</label>
        <input type="number" name="valor" id="valor" [(ngModel)] ="valor_unitario" >

        <div id="btns">
            <button type="button" id="btnAdd" (click)="addItem()" >Adicionar</button>
            <button type="button" id="btnLimpar">Limpar tudo</button>
        </div>

    </form>

    <div id="div-lista">

        <div class="div-item"> 1 - Pão - 4,50 </div>
        <div class="div-item"> 2 - Manteiga - 16,00 </div>
        <div class="div-item"> 3 - Café - 12,00 </div>
        <div class="div-item"> 4 - Paçoca - 1,99 </div>

    </div>

</div>